{% extends "base/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'materials/css/chief_charm.css' %}">

<h3 class="tool-title">領主宝石計算ツール</h3>
<h1 class="warning-message">※レベルを逆に入力すると値が出力されません</h1>
<div id="rankGroups"></div>

<div class="controls">
    <span id="counter" style="display: none;"></span>
    <button class="add-button" onclick="addOne()">装備を増やす</button>
    <button class="sub-button" onclick="subOne()">装備を減らす</button>
</div>

<div id="result" class="table-container"></div>

<div class="related-tools">
    <h2 class="related-title">関連ツール</h2>
    <a href="{% url 'chief_gear' %}" class="related-link">領主装備計算ツール</a>
    <a href="{% url 'fire_crystal' %}" class="related-link">火晶計算ツール</a>
    <a href="{% url 'hero_gear' %}" class="related-link">英雄装備計算ツール</a>
    <a href="{% url 'hero_star' %}" class="related-link">英雄ランク計算ツール</a>
</div>

<div id="hero_gear_image_data"
    data-statue-url="{% static 'images/materials/chief_charm/statue.png' %}"
    data-handbook-url="{% static 'images/materials/chief_charm/mithic_handbook.png' %}"
    data-mithic-design-url="{% static 'images/materials/chief_charm/mithic_design.png' %}"
    data-mithic-tome-url="{% static 'images/materials/chief_charm/mithic_tome.png' %}"
></div>

<script src="{% static 'materials/js/chief_charm.js' %}"></script>

{% endblock %}