{% extends "base/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'materials/css/hero_gear.css' %}">

<h3 class="tool-title">英雄装備計算ツール</h3>
<h1 class="warning-message">※レベルを逆に入力すると値が出力されません</h1>
<div id="rankGroups"></div>

<div class="controls">
    <span id="counter" style="display: none;"></span>
    <button class="add-button" onclick="addOne()">装備を増やす</button>
    <button class="sub-button" onclick="subOne()">装備を減らす</button>
</div>

<div id="result" class="table-container"></div>

<div class="related-tools">
    <h2 class="related-title">関連ツール</h2>
    <a href="{% url 'chief_gear' %}" class="related-link">領主装備計算ツール</a>
    <a href="{% url 'chief_charm' %}" class="related-link">領主宝石計算ツール</a>
    <a href="{% url 'fire_crystal' %}" class="related-link">火晶計算ツール</a>
    <a href="{% url 'hero_star' %}" class="related-link">英雄ランク計算ツール</a>
</div>

<div id="hero_gear_image_data"
    data-essence-stones-url="{% static 'images/materials/hero_gear/essence_stones.png' %}"
    data-mithril-url="{% static 'images/materials/hero_gear/mithril.png' %}"
    data-enhancement-xp-url="{% static 'images/materials/hero_gear/enhancement_xp.png' %}"
    data-mithic-gear-url="{% static 'images/materials/hero_gear/mithic_gear.png' %}"
></div>

<script src="{% static 'materials/js/hero_gear.js' %}"></script>

{% endblock %}