{% extends "base/base.html" %}
{% load static %}
{% block title %}素材計算ツール{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'materials/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="tool-list-container">
    <h1 class="tool-list-title">素材計算ツール一覧</h1>
    <div class="tool-links">
        <a href="{% url 'fire_crystal' %}" class="tool-card">
            <h2 class="card-title">火晶計算ツール</h2>
            <p class="card-description">建物や研究に必要な火晶の量を計算します。</p>
        </a>
        <a href="{% url 'chief_gear' %}" class="tool-card">
            <h2 class="card-title">領主装備計算ツール</h2>
            <p class="card-description">領主装備の強化に必要な素材を計算します。</p>
        </a>
        <a href="{% url 'chief_charm' %}" class="tool-card">
            <h2 class="card-title">領主宝石計算ツール</h2>
            <p class="card-description">領主宝石の強化に必要な素材を計算します。</p>
        </a>
        <a href="{% url 'hero_gear' %}" class="tool-card">
            <h2 class="card-title">英雄装備計算ツール</h2>
            <p class="card-description">英雄装備の強化に必要な素材を計算します。</p>
        </a>
        <a href="{% url 'hero_star' %}" class="tool-card">
            <h2 class="card-title">英雄ランク計算ツール</h2>
            <p class="card-description">英雄星ランクの強化に必要な素材を計算します。</p>
        </a>
        <div class="tool-card coming-soon">
            <h2 class="card-title">火晶微粒子計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
        <div class="tool-card coming-soon">
            <h2 class="card-title">英雄スキル計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
        <div class="tool-card coming-soon">
            <h2 class="card-title">研究計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
        <div class="tool-card coming-soon">
            <h2 class="card-title">英雄経験値計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
        <div class="tool-card coming-soon">
            <h2 class="card-title">ペット材料計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
        <div class="tool-card coming-soon">
            <h2 class="card-title">曙光同盟材料計算ツール</h2>
            <p class="card-description">近日公開</p>
        </div>
    </div>
</div>
{% endblock %}