{% extends "base/base.html" %}
{% load static %}
{% block title %}素材計算ツール{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
<link rel="stylesheet" href="{% static 'timers/css/index.css' %}">
{% endblock %}

{% block content %}

    <h1 class="tool-list-title">時間計算ツール一覧</h1>
    <div class="tool-links">
        <a href="{% url 'timer' %}" class="tool-card">
            <h2 class="card-title">集結時間タイマー</h2>
            <p class="card-description">集結主の到着時間のタイマーです。</p>
        </a>
        <div class="tool-card coming-soon">
            <h2 class="card-title">行軍タイマー</h2>
            <p class="card-description">近日公開</p>
        </div>
    </div>

{% endblock %}