{% extends "base/base.html" %}
{% load static %}
{% block title %}素材計算ツール{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
<link rel="stylesheet" href="{% static 'events/css/index.css' %}">
{% endblock %}

{% block content %}

    <h1 class="tool-list-title">イベント攻略一覧</h1>
    <div class="tool-links">
        <a href="{% url 'hero_squads' %}" class="tool-card">
            <h2 class="card-title">遠征行軍シミュレーター</h2>
            <p class="card-description">遠征行軍シミュレーターです。</p>
        </a>
        <div class="tool-card coming-soon">
            <h2 class="card-title">SVS情報</h2>
            <p class="card-description">近日公開</p>
        </div>
    </div>


<script src="{% static 'events/js/index.js' %}"></script>

{% endblock %}